{% extends 'foodManager/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="wrap">
    <div class="card-space">

        <div class="card-product">

            {% if error = 'problem' %}
            <div class="alert alert-danger">
                Upss! Parece que no tenemos suficientes {{ producto.nombre }}
            </div>
            {% elif error = 'free' %}
            <div class="alert alert-success">
                Listo!
            </div>
            {% endif %}

            <div class="box-shadow">
                <div class="card-header">
                    <h4>
                        {{ producto.nombre }}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <div class="info-cantidad">
                            <h5 class="badge-gray">
                                Cantidad: {{ producto.cantidad_actual }}
                            </h5>
                        </div>
                        <div class="info-marca">
                            <h5>
                                Marca: {{ producto.marca }}
                            </h5>
                        </div>
                    </div>
                    <div class="card-form">
                        <form method="POST" class="form-control">
                            {% csrf_token %} 
                            {{ form.as_p }}
                            <button type="submit" class="btn-rounded btn-icon btn-success">
                                <img src="{% static 'img/icons/checkmark-outline.svg' %}" alt="">
                                Listo
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <a href="{% url 'name' %}" class="btn-icon btn-cian btn-rounded">
            Refresar
        </a>

    </div>
</div>
{% endblock %}