{% extends 'foodManager/base.html' %} 
{% block content %} 
{% load staticfiles %}
<div class="wrap">

    <header class="wheader">

        <div class="wrap-header">
            {% if user.is_authenticated %}
            <p>Bienvenid@, {{ user.first_name }}!</p>
            <a href="{% url 'logout' %}" class="btn-icon btn-gray btn-rounded">
                <img src="{% static 'img/icons/lock-circular-padlock-outline-tool-symbol.svg' %}" alt="">
                Salir
            </a>
            {% else %}
            <a style="margin-right: 8px" href="{% url 'login' %}" class="btn-icon btn-gray btn-rounded">
                <img src="{% static 'img/icons/user-outline-male-symbol-of-interface.svg' %}" alt="">
                Ingresar
            </a>
            <a href="{% url 'register' %}" class="btn-icon btn-gray btn-rounded">
                <img src="{% static 'img/icons/pencil-big-outlined-vertical-tool-symbol.svg' %}" alt="">
                Registro
            </a>
            {% endif %}
        </div>

    </header>

    <div class="list-products">

        {% for producto in productos %}

        <div class="card-list box-shadow">

            <div class="info-list">
                <div class="info-list-name">
                    <p> {{ producto.nombre }} </p>
                </div>
                <div class="info-list-details color-gray">
                    <p> {{ producto.marca }} </p>
                    <p class="separator">-</p>
                    <p>Cantidad: {{ producto.cantidad_actual }} unidad(es) </p>
                    <p class="separator">-</p>
                    <p>Vendido: {{ producto.cantidad_comprada }}</p>
                </div>
            </div>

            <div class="info-consumir">
                <a href="{% url 'consumir_producto' pk=producto.pk %}" class="btn-rounded btn-blue btn-icon">
                    <img src="{% static 'img/icons/add-circular-outlined-button.svg' %}" alt="Plus icon"> Consumir </a>
            </div>

        </div>

        {% endfor %}

        <div class="bagde bagde-win btn-icon">

            <img src="{% static 'img/icons/circular-outlined-badge-with-ribbon-recognition-prize-symbol.svg' %}" alt="">
            Producto más consumido

        </div>

        <div class="card-list box-shadow">

            {% if mas_vendido == None %}

                <div class="info-list">
                    <div class="info-list-details color-gray">
                        <p> Aún no hay productos consumidos. </p>
                    </div>
                </div>

            {% else %}

                <div class="info-list">
                    <div class="info-list-name">
                        <p> {{ mas_vendido.nombre }} </p>
                    </div>
                    <div class="info-list-details color-gray">
                        <p> {{ mas_vendido.marca }} </p>
                        <p class="separator">-</p>
                        <p>Cantidad: {{ mas_vendido.cantidad_actual }} unidad(es) </p>
                        <p class="separator">-</p>
                        <p>Vendido: {{ mas_vendido.cantidad_comprada }}</p>
                    </div>
                </div>

            {% endif %}

        </div>

        <div class="bagde bagde-win btn-icon">

            <img src="{% static 'img/icons/circular-outlined-badge-with-ribbon-recognition-prize-symbol.svg' %}" alt="">
            Usuario más comelon

        </div>

        <div class="card-list box-shadow">

            {% if mas_usuario == None %}
                <div class="info-list">
                    <div class="info-list-details color-gray">
                        <p> Aún no hay productos consumidos. </p>
                    </div>
                </div>
            {% else %}
                <div class="info-list">
                    <div class="info-list-name">
                        <p> {{ mas_usuario.first_name }} </p>
                    </div>
                    <div class="info-list-details color-gray">
                        <p>Cantidad consumida: {{ cantidad_mas_usuario.total }} unidad(es) </p>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

</div>

{% endblock %}